.profile__avatar-button {
  background-color: #000;
  background-image: url(../../../images/edit-avatar-button.svg);
  border: none;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  position: absolute;
  padding: 0;
  width: 120px;
  height: 120px;
}

.profile__avatar-button:hover {
  opacity: .8;
  cursor: pointer;
}
