.authorization__submit-button {
  height: 50px;
  width: 100%;
  margin: 216px auto 0;
  background: #FFFFFF;
  border: none;
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.authorization__submit-button:hover {
  cursor: pointer;
}
